

.TopForm{ background: #00f url(../images/footprints.png); padding: 20px;}



/*FORM BUTTONS*/


.FormButt{ background: #f00; width: 100%; text-align: center; padding: 15px 0; border: none; color: #fff; cursor: pointer; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;} 

.FormButt:hover{ background: #000;}