body {
  background: #f2f2f2;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default; }
  

/* Typography resets shouldn't need to be changed*/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,
h5,h6,pre,form,p,blockquote,th,td {
  margin: 0;
  padding: 0;
  direction: ltr; }
    
.topRow{padding: 800px 0 0 0;}


/* Default Link Styles */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
  /*Transition effect on all a tags unless over ridden*/
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;}
  
a:hover, a:focus {color: #2795b6; }
a img {border: none; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }

p aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h1 sgrid, h2 sgrid, h3 sgrid, h4 sgrid, h5 sgrid, h6 sgrid {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0; }
	
/* other Typography Defaults */
em, i {font-style: italic;line-height: inherit; }
strong, b {font-weight: bold;line-height: inherit; }



/*Header Styles*/

/*Nav Styles*/
/*Main Content Styles*/
/*Sidebar Styles*/


/*Fullwidth Styles*/
section{width: 100%; padding: 20px 0;}
.fullHeader{ background: #fff; border-bottom: solid 1px #ccc;}
.fullTop{ background: #D2E927;}
.fullMain{ background: #fff;}


/*Column Styles*/
.fourboxRow .panel{background:#f1f1f1!important; text-align: center;}

.layout large-4{ background: #f00;}


/*Footer Styles*/

footer{ background: #f3f3f3;}
  
  
