
body {background: url(../images/background-image.jpg) no-repeat center top; color: #222222;padding: 0;margin: 0;font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-weight: normal;font-style: normal;line-height: 1;cursor: default; }
  
/* Default Link Styles */
a {color: #2ba6cb;text-decoration: none;line-height: inherit; }
a:hover, a:focus {color: #2795b6; }
a img {border: none; }
/* Default paragraph styles */
p {font-family: inherit;font-weight: normal; line-height: 1.6;margin-bottom: 1.25rem;text-rendering: optimizeLegibility; }
p aside {font-size: 0.875rem;line-height: 1.35;font-style: italic; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
  
/*CUSTOM CODE HERE*/
  
/*change this to increase page width do not remove---*/
.row{ max-width: 35em;}
.rowNarrow{ max-width: 800px;}
.rowWide{ max-width: 90%; background: #ccc;}
  
header{ padding: 20px 0; }
img.callSide{ margin: 20px 0 0 0;}
p.smallText{ font-size: 11px;}

.fullWidth{ float:left; width: 100%;}

/*Logo*/
.logoWrapper{ background: #fff; position: absolute; top: 15%; -webkit-box-shadow: 0 0 20px 7px rgba(0,0,0,.2);
box-shadow: 0 0 20px 7px rgba(0,0,0,.2);}
.logo{ margin: 20px 40px 20px 40px;}

/*Form*/
.formWrapper{ background: #fff; margin-top: 10%; margin-bottom: 10%; -webkit-box-shadow: 0 0 20px 7px rgba(0,0,0,.2);
box-shadow: 0 0 20px 7px rgba(0,0,0,.2); padding: 60px 30px 30px 30px; float: right; width: 82%;}
.formWrapper h1{ font-size: 50px; color: #737373;}
.formWrapper h2{ font-size: 90px; color: #4bb8b8; line-height: 50px;}
.formWrapper h3{ font-size: 30px; color: #737373; line-height: 100px;}
.formWrapper p{ font-size: 15px; color: #737373; line-height: 20px;}
.formWrapper p span{ font-size: 15px; color: #4bb8b8;}

/*Icons*/
.iconsWrapper{ padding: 20px; text-align:center; margin-bottom: 30px;}
.facebookButton{ display: block; background: url(../images/fb-icon.png) no-repeat center; height: 18px; width: 18px; margin-right: 15px; float: left;}
.twitterButton{ display: block; background: url(../images/twit-icon.png) no-repeat center; height: 18px; width: 18px; margin-right: 15px; margin-left: 15px; float: left;}
.linkedinButton{ display: block; background: url(../images/in-icon.png) no-repeat center; height: 18px; width: 18px; margin-right: 15px; margin-left: 15px; float: left;}
.instagramButton{ display: block; background: url(../images/inst-icon.png) no-repeat center; height: 18px; width: 18px; margin-left: 15px; float: left;}

.facebookButton:hover{ background: url(../images/fb-icon-hover.png) no-repeat;}
.twitterButton:hover{ background: url(../images/twit-icon-hover.png) no-repeat;}
.linkedinButton:hover{ background: url(../images/in-icon-hover.png) no-repeat;}
.instagramButton:hover{ background: url(../images/inst-icon-hover.png) no-repeat;}

span.phone{ background: url(../images/phone.png) no-repeat; padding: 0 0 0 18px; }
span.email{ background: url(../images/email-image.png) no-repeat 20px 0; padding: 0 0 0 50px; }

/*Hidden Elements*/
.hiddenFormWrapper{ background: #F00 !important;}

.logoHidden{ display: none;}

img.hideFull{display: none;} 

.formWrapperInner{ background: #f00;}		
	

@media only screen and (max-width: 400px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; }
	
	.hiddenFormWrapper{ display: block; padding: 30px;}
	
	.logoWrapper{ display: none;}
    .logo{ display: none;}
	
    .logoHidden{ display: block; margin: 0 auto; margin-bottom: 15px;}
	
	.formWrapper{ width: 90%; margin: 5%; padding: 30px; margin-top: 30px; margin-bottom: 30px;}
    .formWrapper h1{ text-align: center;}
    .formWrapper h2{ text-align: center;}
    .formWrapper h3{ text-align: center;}
    .formWrapper p{ text-align: center;}
    .formWrapper p span{ text-align: center;}
		
	img.showFull{ display: none;}
	img.hideFull{ display: block!important;}
	
	
	}